/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Flavors&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/*PT serif - Heading  */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Flavors&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/*  font-family: "PT Serif", serif; */
/* Arime -Body font */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Flavors&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* font-family: "Arima", system-ui; */


/* Nav Bar Styles */
.navbar {
  background-color: #03254c;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*min-height:12vh;*/
  position:fixed;
  width:100%;
  z-index:3;
}

.navlogo {
  display: flex;
  align-items: center;
  font-family: "Flavors", cursive;
  font-size:2.3rem;
  color:#f08080;
  
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  width:auto;
  
}

.nav-links li {
  position: relative; /* Required for dropdown */
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.nav-links .dropbtn:hover {
  color: #f0a500;
  text-shadow:2px black;
}

/* Dropdown Styles */
.dropdown-content {
  display: none; /* Hide dropdown by default */
  position: fixed;
  margin-top:5vh;
  background-color: #f9f9f9;
  min-width: 1000px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  padding: 10px;
  transform: translate(-195px);
}
.dropdown:hover .dropdown-content {
  display: flex; /* Show dropdown on hover */
}

.dropdown-column {
  padding: 10px;
}

.dropdown-column h4 {
  margin-bottom: 5px;
  border-bottom: 1px solid rgb(128, 128, 128);
  color: #514644;
  font-family: "PT Serif", serif;
  font-size:1.2rem;
  width:150px;
}

.dropdown-content a {
  color: #7d6764;
  font-size:0.9rem;
  font-family: "Arima", system-ui;
  padding: 8px 0;
  text-decoration: none;
  display: block;
  transition: background-color 0.2s;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Search Bar Styles */
.Navsearch-container {
  display: flex;
  align-items: center;
}

.Navsearch-bar {
  padding: 5px;
  border: none;
  border-radius: 4px;
  width:350px;
}

.search-btn {
  padding: 6px 10px;
  margin-left: 5px;
  background-color: #f0a500;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

.search-btn:hover {
  background-color: #e59b00;
}

/* Icon Styles */
.Navicons {
  display: flex;
  align-items: center;
 
}

.Navicon {
  margin-left: 15px;
}

.navicon-img {
  height: 40px; /* Adjust icon size as needed */
  border-radius:50%;
  border: 2px solid #FFD166;
} 